SUPABASE_URL=https://ptasyynqqlvrbhqmtvhl.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0YXN5eW5xcWx2cmJocW10dmhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM4NzYwODYsImV4cCI6MjA3OTQ1MjA4Nn0.di3Mk3cndlDzjWwUoXcB8DDslyJO-lbsIHtwRKaWCZI